
<form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div class="form-group">
        <label for="name"><b>Name*</b></label>
        <input type="text" placeholder="Enter name" formControlName="customerName" name="customerName" required>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.customerName.errors.required">Name is required</div>
         </div>
          </div>

          <div class="form-group">
        <label for="dob"><b>Date Of Birth*</b></label><br>
        <input type="text" placeholder="Enter Date of Birth" formControlName="customerDob" name="customerDob" required><br>
        <div *ngIf="submitted && addForm.controls.customerDob.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.customerDob.errors.required">Date Of Birth is required</div>
         </div>
          </div>

          <div class="form-group">
        <label for="Email"><b>Email*</b></label><br>
        <input type="email" placeholder="Enter email" formControlName="customerEmailId" name="customerEmailId" required><br>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.customerEmailId.errors.required">Email is required</div>
         </div>
          </div>
          <div class="form-group">
        <label for="ph"><b>Phone No.*</b></label><br>
        <input type="number" placeholder="Enter Phone Number" formControlName="customerPhoneNo" name="customerPhoneNo" required><br>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.customerPhoneNo.errors.required">Phone No. is required</div>
         </div>
          </div>

          <div class="form-group">
        <label for="income"><b>Annual income*</b></label><br>
        <input type="number" placeholder="Enter Annual income" formControlName="customerAnnualIncome" name="customerAnnualIncome" required><hr>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.customerAnnualIncome.errors.required">Annual Income is required</div>
         </div>
          </div>
        
          <div class="form-group">
        <label for="username"><b>Username*</b></label>
        <input type="text" placeholder="Enter user name" formControlName="username" name="username" required>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.username.errors.required">Username is required</div>
         </div>
          </div>

          <div class="form-group">
        <label for="password"><b>Password*</b></label>
        <input type="password" placeholder="Enter password" formControlName="password" name="password" required>
        <div *ngIf="submitted && addForm.controls.customerName.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.password.errors.required">Password is required</div>
         </div>
          </div>

          <div class="form-group">
        <label for="cpswd"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter password" formControlName="confirmPassword" name="confirmPassword" required>
        <div *ngIf="submitted && addForm.controls.confirmPassword.errors" class="error">
          <div class="text-danger" *ngIf="addForm.controls.confirmPassword.errors.required">Re-enter password </div>
          <div *ngIf="addForm.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
          </div>

          <div class="form-group">
        <label for="address"><b>Address:</b></label> <br>
    <textarea rows="4" cols="100" name="comment" formControlName="customerAddress" form="customerAddress">
      </textarea>
      <div *ngIf="submitted && addForm.controls.customerAddress.errors" class="error">
        <div class="text-danger" *ngIf="addForm.controls.customerAddress.errors.required">Address is required</div>
       </div>
        </div>

      <div class="space">
          <label for="Bank" ><b>Select Bank: </b></label> <br>
          <select formControlName="customerBankName">
              <option value="AXIS"  name="customerBankName">AXIS BANK</option>
            <option value="STATE" name="customerBankName">STATE BANK OF INDIA</option>
            <option value="KOTAK"  name="customerBankName">KOTAK MAHINDRA BANK</option>
            <option value="CANARA"  name="customerBankName">CANARA BANK</option>
            <option value="INDIAN" name="customerBankName">INDIAN OVERSEAS BANK</option>
            </select>
            </div>

            <div class="form-group"></div>
            <label for="ac_no"><b>Savings account Number</b></label>
            <input type="text" placeholder="Enter Savings account Number " formControlName="customerSavingsAccount" name="customerSavingsAccount" required>
            <div *ngIf="submitted && addForm.controls.customerAddress.errors" class="error">
              <div class="text-danger" *ngIf="addForm.controls.customerAddress.errors.required">Savings Account is required</div>
             </div>
         
          <div class="form-group">
              <label for="IFSC"><b>IFSC Code</b></label>
            <input type="text" placeholder="Enter IFSC code" formControlName="customerIfscCode" name="customerIfscCode" required><br>
            <div *ngIf="submitted && addForm.controls.customerAddress.errors" class="error">
              <div class="text-danger" *ngIf="addForm.controls.customerAddress.errors.required">IFSC is required</div>
             </div>
              </div>
              <!-- <label for="Aadhaar"><b>Aadhaar upload</b></label><br>
            <input type="file" name="Aadhaar"><br>
            
            <label for="PanCard"><b>PanCard upload</b></label><br>
            <input type="file"  name="PanCard"><br> -->
            </div>
            <div class="container signin">
            
          <button type="submit" class="registerbtn">Register</button>
      </div>
          <div class="container signin">
        <p><a href="#">Reset</a></p>
      </div>
    </form>