<div class="row">
  <div class="side">


    <div class="emi">

      <h1>NO COST EMI</h1>
      <br>
      <h4>ZERO EFFECTIVE INTEREST** | LESS PROCESSING FEE</h4>

    </div>
    <div>

      <p>buy now and pay in flexible EMI options upto 12 months </p>
    </div>
    <div class="img" style="height:300px; ">
    <img src="../../assets/laptop.png" width="400px" height="150px">
    </div><br>

  </div>
  <div class="white">


    <div class="img" style="height:200px;">
      <img src="../../assets/gif2.gif" alt="">
    </div>



  </div>
</div>

<div class="footer">
  <h2></h2>
</div>