



<div class="row">
  <div class="side">
    <h2>No Cost EMI</h2>
    <h5>Product 1 Name</h5>
    <div class="img"  >product-1</div>
    <p>product-1 description</p>
    <h3>Today's deals</h3>
    <p>buy now pay later in easy emi's</p>
    <div class="img" style="height:60px;">product-3</div><br>

  </div>
  <div class="white">
    <h2>Slide Bar</h2>
    <h5></h5>
    <div class="img" style="height:200px;">Slide bar</div>
    <p> </p>
    <p></p>
    <br>
    <h2>Pay In easy EMI's</h2>
    <h5>product-2 name</h5>
    <div class="img" style="height:200px;">product-2</div>
    
   
  </div>
</div>

<div class="footer">
  <h2></h2>
</div>

