* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.w3-display-container:hover .w3-display-hover {
  display: block
}

.w3-display-container:hover span.w3-display-hover {
  display: inline-block
}

.w3-display-hover {
  display: none
}

body {
  font-family: Arial;
  margin: 0;
}

.main {
  background-color: rgb(50, 83, 83);
  padding: 20px;
  text-align: center;
}

.main h1 {
  font-size: 60px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color:#f1f1f1;
  padding: 20px;
  margin-bottom: 60px;
}

.white {
  flex: 0%;
  padding: 20px;
}

.img {
  background-color: white;
  width: 100%;
  padding: 80px;
}


@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.emi{
  margin-bottom: 50px;
  
}