
<div class="main">
    <h1><i>SLASH</i></h1>
    <p>easy <b>EMI</b> on your bill</p>
  </div>
  
  <div class="navbar">
    
    <form class="form-inline md-form mr-auto mb-4" [formGroup]="searchForm" (ngSubmit)=onSubmit()>
      <input class="form-control mr-sm-2" formControlName="productName" type="text" placeholder="Search" aria-label="Search">
      <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-0 waves-light"
        mdbWavesEffect type="submit">Search</button>
    </form>

    <button (click)=onHome()>Home</button>
  
    <div *ngIf="!isUserLoggedIn">
      <button (click)=onRegister()>Register</button>
      <button (click)=onLogin()> Login</button>
    </div>
    <div *ngIf="isUserLoggedIn">
      <button (click)=onDashboard()>Dashboard</button>
      <button (click)=onLogOut()>Logout</button>
    </div>
    
    
  
  </div>


<router-outlet ></router-outlet>