
<div class="main">
    <h1><i>SLASH</i></h1>
    <p>easy <b>EMI</b> on your bill</p>
  </div>
  
  <div class="navbar">
    
    <form class="form-inline md-form mr-auto mb-4" [formGroup]="searchForm" (ngSubmit)=onSubmit()>
      <input class="form-control mr-sm-2" formControlName="productName" type="text" placeholder="Search" aria-label="Search">
      <button mdbBtn size="sm" color="warning" outline="true" rounded="true" class="my-0 waves-light"
        mdbWavesEffect type="submit">Search</button>
    </form>

    <a href="main" class="active">Home</a>
  
    <div *ngIf="!isUserLoggedIn">
      <a href="register" class="right">Register</a>
      <a href="login" class="right">Login</a>
    </div>
    <div *ngIf="isUserLoggedIn">
      <a href="#" class="right">DashBoard</a>
      <button (click)=onLogOut()>Logout</button>
    </div>
    <a href="product-info">Product Information</a>
    
  
  </div>


<router-outlet ></router-outlet>