<div class="welcome">
    <p>welcome {{customer.customerName}}</p>
</div>

<div class="title">
    <h2>Dash Board</h2>
</div>


<div class="card1" *ngIf="cardActive">
    <h3>Slash Card</h3>
    <h4>{{card.cardNumber}}</h4><br><br><br>
    <h4>{{cardType.cardType}}</h4>
    <h5>Valid Till: {{card.validTill}}</h5>


</div>


<div class="card1" *ngIf="!cardActive">
    <h3>Slash Card</h3>
    <h4>You are not approved yet</h4><br><br><br>
</div>


<div class="row">
    <div class="column">
        <div class="card">
            <h3>Total Credit </h3>
            <p>{{cardType.cardLimit}}</p>

        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Remaining Credit</h3>
            <p>{{card.creditUsed}}</p>

        </div>
    </div>

</div>



<div class="pp">
    <H2>Products Purchased</H2>
</div>

<div class="recentTransactions">
   <div>
    <table>
        <tr>
            <th>Product </th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount Paid</th>
        </tr>
        <tr *ngFor="let emi of emiList">
               <td> {{emi.product.productName}}</td>
               <td> {{emi.emiStartDate}}</td>
               <td> {{emi.emiEndDate}}</td>
                <td> {{emi.totalAmountPaid}}</td>
                <td> <button (click)="payEmi(emi)"> Pay Emi </button> </td>
        </tr>
        
    </table>
    </div>
</div>


<div class="pp">
    <h2>Recent Trancations</h2>
</div>
<div class="recentTransactions">
    <table>
        <tr>
            <th>Product </th>
            <th>Date</th>
            <th>Amount Paid</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>