<div class="welcome">
    <p>welcome "Customer Name"</p>
</div>

<div class="title">
    <h2>Dash Board</h2>
</div>
<div class="card1">

    <h3>Slash Card</h3>
    <h4>Gold</h4><br><br><br>
    <h5>valid till 01/2030</h5>


</div>




<div class="row">
    <div class="column">
        <div class="card">
            <h3>Total Credit</h3>
            <p>₹50000</p>

        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Credit Used</h3>
            <p>₹12455</p>

        </div>
    </div>

    <div class="column">
        <div class="card">
            <h3>Remaining Credit</h3>
            <p>₹37545</p>

        </div>
    </div>

</div>

<div class="pp">
    <H2>Products Purchased</H2>
</div>

<div class="recentTransactions">
    <table>
        <tr>
            <th>Product Name </th>
            <th>Amount </th>
            <th>Amount Paid</th>
            <th>Balance</th>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>

</div>


<div class="pp">
    <h2>Recent Trancations</h2>
</div>
<div class="recentTransactions">
    <table>
        <tr>
            <th>Product </th>
            <th>Date</th>
            <th>Amount Paid</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>